.search-panel {
  margin-bottom: 20px;
}

.search-panel-title {
  margin: 40px 0 30px 0;
}

.search-input {
  width: 240px;
}

.search-panel-filter-btn {
  width: 100%;
}

.search-panel-filter {
  margin-bottom: 10px;
}

.search-panel-filter-date {
  margin-bottom: 10px;
}
