.footer {
  margin-top: 60px;
  min-height: 85px;
  background-color: #e5e5e5;
}

.footer-content {
  margin: 7px auto;
  height: 100%;
}

.footer-text {
  color: #171717;
}

.feedback-button {
  width: 100%;
}
