.footer {
  margin-top: 60px;
  height: 85px;
  /* min-height: 85px; */
  background-color: #e5e5e5;
}

.footer-content {
  height: 100%;
}

.footer-text {
  color: #171717;
}

.feedback-button {
  width: 100%;
}

/* .feedback-button {
  color: #fff !important;
  background-color: #01497c !important;
}

.feedback-button:hover {
  background-color: #003a63 !important;
} */
