* {
  font-family: 'Open Sans', sans-serif;
}

.navbar-brand {
  font-size: 30px;
  padding: 7px 35px 7px 0px;
  display: inline-block;
  font-family: 'Oranienbaum', serif;
}

a:hover {
  color: #003a63;
}

.rs-navbar.rs-navbar-inverse {
  background-color: #01497c;
}

.rs-navbar.rs-navbar-inverse .rs-navbar-nav .rs-nav-item > .rs-nav-item-content:hover,
.rs-navbar.rs-navbar-inverse .rs-navbar-nav .rs-nav-item > .rs-nav-item-content:focus,
.rs-navbar.rs-navbar-inverse .rs-navbar-nav .rs-dropdown .rs-dropdown-toggle:hover,
.rs-navbar.rs-navbar-inverse .rs-navbar-nav .rs-dropdown .rs-dropdown-toggle:focus {
  background-color: #003a63;
}

.main-caption {
  margin-top: 40px;
  font-weight: bold;
  font-size: 36px;
  color: #171717;
}

.conference-logo {
  width: 100%;
}

.description-text {
  font-size: 16px;
  color: #838383;
}

.dark-blue-btn {
  color: #fff !important;
  background-color: #01497c !important;
}

.dark-blue-btn:hover {
  background-color: #003a63 !important;
}

.textfield-textarea {
  resize: none !important;
}

.user-page-second-caption {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 24px;
  color: #01497c;
}
